
body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  line-height: 1.5;
  background-color: var(--bianco);
  overscroll-behavior: none;
}

:root {
  --bianco: rgba(255, 254, 248, 1);
  --nero: rgba(0, 0, 0, 1);
  --verdino: rgba(35, 253, 9, 1);
  --arancione: rgba(252, 125, 6, 1);
  --grigio-footer: rgba(195, 195, 195, 1);
}

 /*stili per link a cv*/
 .icon-container {
  position: fixed;
  z-index: 99999;
  bottom: 30px;
  left: 20px;
  width: 110px;
  height: 110px;
  cursor: none;
  filter: drop-shadow(0px 2px 4px #8c8c8c);
}
.icon-container img {
  width: 100%;
  height: 100%;
}


/*stili per cursore*/
html,
body {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--verdino);
  transition: transform 0.01s linear, width 0.2s ease, height 0.2s ease, background-image 0.2s ease-in-out;
  z-index: 999999;
  display: none; 
  background-size: contain;
    pointer-events: none;
  
}

.custom-cursor.active {
  width: 40px;
  height: 40px;
  background-image: url("imgs/icona_puntatore.svg");
  background-color: transparent;
  filter: drop-shadow(0px 2px 4px #8c8c8c);
  mix-blend-mode: normal; 
}

.site-wide.active {
  width: 100px;
  height: 100px;
}


/*stili per pagine progetti*/

.split-section {
  padding-top: 3rem;
  position: relative;
}

 .container {
  display: flex;
  margin: 0;
  padding: 0%;
  flex-direction: row;
}

.left {
  width: 50%;
  position: fixed;
  background-color: var(--bianco);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  z-index: 0;
}

 .right {
  margin-left: 50%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 50%;
  background-color: var(--bianco);
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.immagini {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  padding: 1rem;
}

.immagini img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.immagini2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
  padding: 1rem;
}

.immagini2 img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.gif-container {
  width: 100%;
  max-width: 600px; 
  display: flex;
  background-color: #2B2B2B;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.gif{
  max-width: 450px;

}

.project-title {
  font-size: 5rem;
  font-weight: 900;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--nero);
  color: var(--bianco);
  width: fit-content;
}

.project-title2 {
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 0.2rem;
  background-color: var(--nero);
  color: var(--bianco);
  width: fit-content;
}

.project-subtitle {
  font-size: 2rem;
  font-weight: 900;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--nero);
  color: var(--bianco);
  width: fit-content;
}

.project-description {
  padding: 2rem 0.5rem;
  font-size: 1.2rem;
  color: var(--bianco);
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: var(--bianco);
  font-size: 0.8rem;
  font-weight: 500;
  padding-bottom: 2rem;
}

.tag {
  border-radius: 20px;;
  text-transform: uppercase;
  color: var(--nero);
  padding: 5px;
  border: 1px solid var(--nero);
}

.image-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }


/* Contenitore libri (Circle Up e Emme)*/
.book-container {
  width: 100%;
  max-width: 600px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.book {
  width: 100%;
  height: 400px; 
  border-radius: 10px;
}


/*splide.js carosello IBEC*/

.splide {
  width: 100%; 
  height: auto;
  margin: 0;
  padding-top: 4rem;
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.splide__slide img {
  width: 100%;  
  height: auto; 
  max-height: 100%; 
  border-radius: 15px; 
}

/*stili video EMME */

.video-wrapper {
    max-width: 600px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

.video {
  display: block;
  border-radius: 10px;
  max-width: 600px;
  height: auto;
}

/* Bottone comune a tutti i progetti per tornare indietro */
.back-button-wrapper {
  display: flex;
  justify-content: left;
  margin: 2rem;
  margin-left: 0;
  z-index: 10;
}

.back-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 1rem;
  color: var(--nero);
  border: 1.5px solid var(--nero);
  text-decoration: none;
  transition: 0.3s;
}

.back-button:hover {
  background-color: var(--nero);
  color: var(--bianco);
}


/*navbar*/
.nav {
  position: fixed;  
  top: 1rem;
  left: 0.8rem;
  right: 0.8rem;
  width: calc(100% - 2rem); 
  background-color: var(--nero);
  color: var(--bianco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  z-index: 1000;
  padding: 0.3rem;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}


.nav a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  margin: 0 1rem;
  transition: all 0.3s ease;
}

.nav a:hover {
  transform: scale(1.1);
  transform-origin: center;
  color: var(--verdino);
}

.navbar-toggler {
  border: none;
  display: flex;
  align-items: flex-end;
  background: transparent;
  color: var(--bianco);
  font-size: 1rem;
  cursor: pointer;
  margin-left: auto;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/*footer*/
.custom-footer {
  background-color: var(--grigio-footer);
  border-radius: 20px 20px 0 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
  filter: drop-shadow(0px 2px 2px #d5d5d5);
}

.custom-footer a {
  color: #000;
  text-decoration: none;
}

.footer-left p {
  margin: 0;
  line-height: 1.4;
}

.footer-left a:hover {
  color: var(--verdino); 
}

.footer-right a {
  margin-left: 1rem;
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
}

.footer-right a:hover {
  color: var(--verdino); 
}

.footer-right i {
  font-size: 1.4rem;
}


.mobile-only {
display: none;
}

/* RESPONSIVENESS */

@media (max-width: 991px) {
.nav {
  padding: 0.5rem 1rem;
}

.nav-right {
  text-align: center;
}

.navbar-collapse {
  display: flex;
  background: rgba(0, 0, 0, 0.9);
  padding: 1rem;
  border-radius: 20px;
}

.navbar-toggler-icon {
  filter: invert(1); 
}

.nav a {
  display: block;
  margin: 0.5rem 0;
}
          

  .footer {
    flex-wrap: nowrap;
  }
  .footer-links {
    display: none;
    align-items: flex-end;
  }
  .mobile-only {
    display: flex;
    align-items: flex-end;
  }
}


@media (max-width: 768px) {
  .icon-container {
    display: none;
  }


  .project-title {
    font-size: 3rem;
    font-weight: 1000;
  }

  .tag {
    font-size: 0.7rem;
  }

  .project-header,
  .project-description {
    padding: 1.5rem 0.5rem 1.5rem;
  }


  
  .book-container {
    padding: 1rem;
  }

  .video-wrapper {
    padding: 1rem;
  }

  .video {
    WIDTH: 80VW;
  }

  .responsive-book {
    height: 50vh;
  }

  

    /* Responsiveness da guardare */
    @media (max-width: 768px) {
      .container {
        flex-direction: column;
        align-items: center;
      }

      .left {
        position: static;
        width: 100%;
        background-color: var(--bianco);
        margin: 0.4rem;
      }

      .right {
        margin-left: 0;
        width: 100%;
        padding: 1.5rem;
      }

      .section {
        margin-bottom: 3rem;
      }

@media (max-width: 600px) {
  .custom-footer {
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px 20px 0 0;
    gap: 0.5rem;
  }

  .footer-right {
    align-self: flex-end;
    display: flex;
    gap: 1rem;
  }
}
    }}